/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #16161F;
    background-alt: #1a1b27;
    foreground:     #ffade0;
    selected:       #FF0077;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
